<header>
  <div class="sui-navbar">
    <div class="navbar-inner">
      <a href="./headline-login.html" class="sui-brand"><img src="/public/img/asset-logo-black.png" alt="社交" /></a>
      <form class="sui-form sui-form pull-left">
        <input type="text" placeholder="输入关键词..." />
        <span class="btn-search fa fa-search"></span>
      </form>
      <ul class="sui-nav">
        <li class="active"><a href="./headline-logined.html">首页</a></li>
        <li><a href="./qa-login.html">话题</a></li>
      </ul>
      <div class="sui-nav pull-right info">
        {% if sessionUser%}
        <!-- 登录后 -->
        <li><a href="./other-notice.html" class="notice">通知</a></li>
        <!-- <li class="hover">
          <span class="fa fa-plus "></span>
          <ul class="hoverinfo">
            <li>
              <i class="fa fa-share-alt" aria-hidden="true"></i>
              <a href="./headline-submit.html">去分享</a>
            </li>
            <li>
              <i class="fa fa-question-circle" aria-hidden="true"></i>
              <a href="./qa-submit.html" target="_blank">提问题</a>
            </li>
            <li>
              <i class="fa fa-comments" aria-hidden="true"></i><a href="./spit-submit.html" target="_blank">去吐槽</a>
            </li>
            <li>
              <i class="fa fa-heartbeat" aria-hidden="true"></i>
              <a href="./makeFriends-submit.html" target="_blank">发约会</a>
            </li>
          </ul>
        </li> -->
        <!-- <li>
          <a href="./person-homepage.html" target="_blank" class="homego"><img src="/public/img/widget-photo.png" alt="用户头像" /></a>
        </li> -->
        <li class="hover" id="userImg">
          <img src="/public/img/widget-photo.png" width="30" alt="用户头像" />
          <ul class="hoverinfo">
            <li><i class="iconfont icon-user" aria-hidden="true"></i> <a href="/people/">主页</a></li>
            <li><i class="iconfont icon-setting" aria-hidden="true"></i> <a href="/settings/profile">设置</a></li>
            <li><i class="iconfont icon-off" aria-hidden="true"></i> <a href="/signout">退出</a></li>
          </ul>
        </li>
        {% else %}
        <!-- 登录前 -->
        <li><a href="/login" target="_blank">注册</a></li>
        <li><a href="/login" target="_blank" class="sui-btn btn-login">登录</a></li>
        {% endif %}
      </div>
    </div>
  </div>
</header>
<script>
  let userImg = document.getElementById('userImg')
  try {
    let hoverinfo = document.querySelectorAll('.hoverinfo')[0]
    userImg.onmousemove = function () {
      hoverinfo.style.display = 'block'
    }
    userImg.onmouseout = function () {
      hoverinfo.style.display = 'none'
    }
  } catch (error) {

  }
</script>